@import "tailwindcss";

:root {
  --filipe-bg: #dddddd; 
  --foreground: #171717;
}

body {
  background-color: var(--filipe-bg) !important;
  color: var(--foreground) !important;
  min-height: 100vh;
  margin: 0;
}
